/* landing page */
.profileImage {
  width: 100%;
  border: 12px solid white;
  -webkit-box-shadow: 7px 10px 58px -16px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 7px 10px 58px -16px rgba(0, 0, 0, 0.59);
  box-shadow: 7px 10px 58px -16px rgba(0, 0, 0, 0.59);
}

.aboutMeContainer {
  padding: 30px;
  background-color: #f2f2f2;
  border-radius: 12px;
}

.button-link {
  background-color: green;
  color: white;
  border-radius: 9px;
  padding: 20px;
}

/* projects page */
.projectsGrid {
  display: grid;
  grid-template-columns: 500px auto;
  grid-template-rows: 1fr 1fr 1fr;
}

.image img {
  width: 500px;
}

.projectsDescription {
  margin-bottom: 10px;
  background-color: white;
}

/* Resume Page css */
.resume-right-col {
  background: #27221f;
  color: white;
  padding: 2em;
}

/* contact page css */

.contact-body {
  background-color: #ffffff;
  margin: auto;
  margin-top: 40px;
  width: 50%;
  padding: 5px 20px 5px 20px;
  text-align: center;
}

.contact-body a {
  color: blue;
  font-size: large;
}

.icon {
  margin-right: 10px;
  font-size: large;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}
