.mdl-cell {
  border: 5px solid  red;
}

.mdl-cell img {
  max-width:100%;
  max-height:100%;
}

.header-color {
  background-color: #0c6d96
}

body {
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #ffffff, #64f884,  #31f300);  
  background: linear-gradient(to right, #ffffff, #64f884, #31f300);
}

.landing-grid {
  width: 80%;
}

.profileImage {
  height: 500px;

}

.aboutMeContainer {
  background-color: white;
  text-align: center;
  padding: 5px 20px 5px 20px;
  height: 500px;

}

.projectsContainer {
    width: 80%;
    text-align: center;
    background-color: orange;
    vertical-align: bottom;
  }

.projectsContainer a {
    color: blue;
    font-size: large;
}


/* Resume Page css */
.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
}

/* contact page css */

.contact-body {
  background-color: #ffffff;
  margin: auto;
  margin-top: 40px;
  width: 50%;
  padding: 5px 20px 5px 20px;
  text-align: center;
}

.contact-body a {
  color: blue;
  font-size: large;
}

.icon {
  margin-right: 10px;
  font-size: large;
}

.banner-text {
  background-color: black;
  opacity: .8;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}